@charset "UTF-8";

*{
font-family: Sandoll Studywithme;
font-weight: 400;
}

table{
	margin: 0 auto;
	width: 100%;
	height: 500px;
	border-collapse: collapse;
	border-bottom: 1px solid #FFCDD2;
}

th{
	height: 30px;
	background: #EF9A9A;
}

tr{
	border-bottom: 1px solid #FFCDD2;
}

td{
	text-align: center;
}

.title{
	text-align: left;
	padding: 10px;
}

tr:hover {
	background-color: #FFCDD2;
	font-weight: bolder;
	cursor: pointer;
}

div {
	text-align: center;
}

.button{
	text-align: right;
	margin: 5px;
}

.button:hover {
	background-color:#EF9A9A;
	transition: 0.5s;
}
