@charset "UTF-8";

*{
font-family: Sandoll Studywithme;
font-weight: 400;
}

.detail-content{
	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 10px;
	border:0px;
	box-sizing: border-box;
}

.title{
	margin: 0 auto;
	width: 100%;
	height: 40px;
	line-height: 20px;
	border-bottom: 2px solid #E57373;
	padding: 5px;
	box-sizing: border-box;
}

.name-bar{
	padding: 7px;
	margin: 0 auto;
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 2px solid #E57373;
	box-sizing: border-box;
}


.name, .like, .date, .ip{
	padding-top: 5px;
	width: 50%;
	line-height: 20px;
	float: left;
}

.name, .like{
	padding-bottom: 3px;
	border-bottom: 1px solid #FFCDD2;
}

.like, .ip{
	
	text-align: right;
}

.date, .ip{
	padding : 5px, 0px, 0px; 5px;
}

.content{
	padding: 10px;
	padding-top: 25px;
	width:100%;
	min-height:500px; 
	height: auto;
	border-bottom: 2px solid #E57373;
}

.img {
	text-align: center;
}

.edde{
	text-align: center;
}

.button{
	margin: 10px 5px;
}

.button:hover {
	background-color:#EF9A9A;
	transition: 0.5s;
}

.comments{

}

.c_name, c_comment{

}

.c_name{
}

.c_date {

}

.c_comment{

}

.commentBox{
	width: 800px;
	height: 150px;
	padding: 10px;
	background-color:#EF9A9A;
	padding: 10px;
	box-sizing: border-box;
	
}

#commenttextarea {
	width: 660px;
	height: 120px;
	float: left;
}

#comment{
	width: 100px;
	height: 130px;
	float: right;
	font-size: 25px;
}

