@charset "UTF-8";

*{
font-family: Sandoll Studywithme;
font-weight: 400;
}

.detail-content{
	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 10px;
	border:0px;
	box-sizing: border-box;
}

.title{
	margin: 0 auto;
	width: 100%;
	height: 40px;
	line-height: 20px;
	border-bottom: 2px solid #E57373;
	padding: 5px;
	box-sizing: border-box;
}

.name-bar{
	padding: 7px;
	margin: 0 auto;
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 2px solid #E57373;
	box-sizing: border-box;
}


.name, .like, .date, .ip{
	padding-top: 5px;
	width: 50%;
	line-height: 20px;
	float: left;
}

.name, .like{
	padding-bottom: 3px;
	border-bottom: 1px solid #FFCDD2;
}

.like, .ip{
	
	text-align: right;
}

.date, .ip{
	padding : 5px, 0px, 0px; 5px;
}

.content{
	padding: 10px;
	padding-top: 25px;
	width:100%;
	min-height:500px; 
	height: auto;
	border-bottom: 2px solid #E57373;
	box-sizing: border-box;
}

.img {
	text-align: center;
}

.edde{
	text-align: center;
}

.button{
	margin: 10px 5px;
}

.button:hover, #openComment:hover {
	background-color:#EF9A9A;
	transition: 0.5s;
}

.commentBox{
	width: 100%;
	height: 150px;
	padding: 10px;
	background-color:#FFCDD2;
	padding: 10px;
	box-sizing: border-box;
	
}

#commenttextarea {
	width: 660px;
	height: 124px;
	float: left;
}

#comment{
	width: 80px;
	height: 130px;
	float: right;
	font-size: 25px;
}

.comments{
	width: 100%;
	height: auto;
	margin: 5px 0px;	
	box-sizing: border-box;
}

.comment{
	width: 100%;
	min-height: 65px;
}
.commentHead{
	width: 100%;
	height: 32px;
	line-height:32px;
	background-color: #FFCDD2;
}
.c_name{
	width: 45%;
	height: 100%;
	float: left;
	padding-left: 5px;
}

.c_name img{
    top: 4px;
    position: relative;
    left: 10px;
}

.c_date{
	width: 45%;
	height: 100%;
	float: right;
	text-align: right;
	margin-right: 10px;
}
.c_id{
	height:0px;
	visibility: hidden;
}
.c_comment{
	margin-top: 10px;
	width: 100%;
	min-height: 35px;
	height: auto;
	padding-left: 5px;
}
