@charset "UTF-8";


body{
	margin: 0;
	padding: 0;
}

nav{
	/* position: fixed; */ /* 그 자리에 고정시켜줘 */
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #FFCDD2;
}


nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style: none; /* li 앞에 원을 없애줍니다. */
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

nav li:hover{
	background-image: url("../img/heart2.gif");
	background-size: 50px;
	transition: 0.5s;	
	cursor: pointer;
}
