@charset "UTF-8";

*{
font-family: Sandoll Studywithme;
font-weight: 400;
}

.writeDiv{
	margin: 0 auto;
	width: 800px;
	min-height: 500px;
	height: auto;
	background-color: #FFCDD2;	
	padding: 10px;
}

.writeDiv input{
	margin: 0px;
	padding: 0px;
	border: 0px;	
	width: 779px;
	height:30px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.writeDiv textarea {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 800px;
	margin: 10px 0px;
}

.img {
	text-align: center;
}

.button{
	margin: 0px;
	padding: 0px;
}

.button:hover {
	background-color:#EF9A9A;
	transition: 0.5s;
}